<div class="container mt-5">

  <div class="row alert alert-danger" *ngIf="silme">
    <div class="col-md-12">
      <p> <b>{{secKayit.soru}}</b> Başlıklı kayıt silinecektir. Onaylıyor musunuz?</p>
      <button class="btn btn-outline-danger btn-sm" (click)="Sil()">Evet Sil</button>
      <button class="btn btn-outline-primary btn-sm ml-2" (click)="silme=false;">Hayır Kapat</button>
    </div>
  </div>

  <div class="row alert alert-secondary" *ngIf="detay">
    <div class="col-md-6">
      <h5>Soru</h5>
      <p>{{secKayit.soru}}</p>
      <h5>Cevap</h5>
      <p>{{secKayit.cevap}}</p>
    </div>
    <div class="col-md-6">
      <h5>Kayıt Tarihi</h5>
      <p>{{secKayit.kayTarih | date:'dd.MM.yyyy HH:mm:sss'}}</p>
      <h5>Düzenleme Tarihi</h5>
      <p>{{secKayit.duzTarih | date:'dd.MM.yyyy HH:mm:sss'}}</p>

      <h5>Uygunluğu</h5>
      <p><span class="badge badge-pill bg-success text-white" *ngIf="secKayit.islem">Tamamlandı</span>
        <span class="badge badge-pill bg-danger text-white" *ngIf="!secKayit.islem">Bekliyor</span>
      </p>
      <button class="btn btn-outline-danger btn-sm" (click)="detay=false;">Kapat</button>

    </div>
  </div>

  <div class="row" *ngIf="ekleduzenle">
    <div class="col-md-12 alert alert-secondary">
      <h4>Kayıt Ekle - Düzenle</h4>
      <form #frm="ngForm" (submit)="Kaydet()">
        <div class="form-group">
          <label>Başlık</label>
          <input type="text" class="form-control" name="baslik" [(ngModel)]="secKayit.soru">
        </div>
        <div class="form-group">
          <label>Açıklama</label>
          <textarea class="form-control" name="aciklama" [(ngModel)]="secKayit.cevap"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Kaydet" class="btn btn-outline-success btn-sm">
          <button class="btn btn-outline-danger btn-sm ml-2" (click)="ekleduzenle=false;">Kapat</button>
        </div>
      </form>
      <div [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">
        {{sonuc.mesaj}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5>Merhaba <b>{{adsoyad}},</b></h5>
      <h3>Gelen Cevaplar</h3>
      <button class="btn btn-outline-danger" style="float:right" (click)="OturumuKapat()"
        *ngIf="fbServis.OturumKontrol()">Oturumu
        Kapat</button>
      <button class="btn btn-outline-success btn-sm ml-2" [routerLink]="['/soru']">Soruları Görüntüle</button>
      <table class="table mt-2">
        <thead>
          <td>Soru</td>
          <td>Uygunluğu</td>
          <td>Cevap Uygunluğu</td>
          <td>Detay</td>
          <td>Düzenle</td>
          <td>Sil</td>
        </thead>
        <tbody>
          <tr *ngFor="let kayit  of kayitlar">
            <td>{{kayit.soru}}</td>
            <td>
              <span class="badge badge-pill bg-success text-white" *ngIf="kayit.islem">Uygun</span>
              <span class="badge badge-pill bg-danger text-white" *ngIf="!kayit.islem">Uygun Değil</span>
            </td>
            <td>

              <button class="btn btn-outline-success btn-sm" (click)="TamamlaIptal(kayit,true)"
                *ngIf="!kayit.islem">Uygun Yap</button>
              <button class="btn btn-outline-danger btn-sm" (click)="TamamlaIptal(kayit,false)"
                *ngIf="kayit.islem">Uygunluğu İptal Et</button>

            </td>
            <td><button class="btn btn-outline-info btn-sm" (click)="KayitSec(kayit);detay=true;">Detay</button>
            </td>
            <td><button class="btn btn-outline-warning btn-sm" (click)="KayitSec(kayit);ekleduzenle=true;"
                *ngIf="this.uid==kayit.uid">Düzenle</button></td>
            <td><button class="btn btn-outline-danger btn-sm" (click)="KayitSec(kayit);silme=true;"
                *ngIf="this.uid==kayit.uid">Sil</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>