<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      Merhaba, <b>Misafir</b>
      <button class="btn btn-outline-danger mt-4" style="float:right" [routerLink]="['/']">Ana Menüye Dön</button>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row" *ngIf="ekleduzenle">
        <div class="col-md-12 alert alert-secondary">
          <h4>Cevap Yazınız</h4>
          <form #frm="ngForm" (submit)="Kaydet()">
            <div class="form-group">
              <h5><b>Soru : </b> <input readonly type="text" name="soru" class="form-control" [(ngModel)]="secSoru.soru"
                  required></h5>
            </div>
            <div class="form-group">
              <h4>Cevabınız</h4>
              <textarea class="form-control" name="cevap" [(ngModel)]="secKayit.cevap"></textarea>
            </div>
            <div [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">
              {{sonuc.mesaj}}</div>
            <div class="form-group">
              <input type="submit" value="Kaydet" class="btn btn-outline-success btn-sm">
              <button class="btn btn-outline-danger btn-sm ml-2" (click)="ekleduzenle=false;">Kapat</button>
            </div>
          </form>

        </div>
      </div>
      <div class="card mt-3" *ngFor="let soru of sorular">
        <div class="card-header">
          <h4>{{soru.soru}}</h4>
          <div style="float: right;">
            <button class="btn btn-outline-info btn-sm" (click)="ekleduzenle=true;"
              [routerLink]="['/sorucevapla',soru.key] ">Cevapla</button>
            <button class="btn btn-outline-warning btn-sm ml-3" [routerLink]="['/soruduzenle',soru.key]"
              *ngIf="uid==soru.uid">Düzenle</button>
            <button class="btn btn-outline-danger btn-sm ml-3" [routerLink]="['/sorusil',soru.key]"
              *ngIf="uid==soru.uid">Sil</button>
          </div>
        </div>
        <div class="card-body">
          <div [innerHTML]="soru.sorusekli"></div>
        </div>
        <div class="card-footer">
          <b>Eklenme Tarihi :</b>{{soru.kayTarih | date:'dd.MM.yyyy HH:mm:ss'}} <br>
          <b>Düzenlenme Tarihi :</b>{{soru.duzTarih | date:'dd.MM.yyyy HH:mm:ss'}} <br>
        </div>
      </div>

    </div>
  </div>
</div>